<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HTML 5 Boilerplate</title>
</head>
<body>

<div class="main">
    <h1>Log in Page</h1>
    <h3>Enter your login credentials</h3>
    <form  th:action="@{/authenticateTheUser}" method="POST" >
        <label for="username">
            Username:
        </label>
        <input type="text"
               id="username"
               name="username"
               placeholder="Enter your Username" required>

        <label for="password">
            Password:
        </label>
        <input type="password"
               id="password"
               name="password"
               placeholder="Enter your Password" required>

        <div class="wrap">
            <button type="submit">
                Submit
            </button>
        </div>
    </form>

</div>
</body>
</html>